<table class="table table-condensed table-striped">
  <thead>
    <th id="airline">Airline</th>
    <th id="origin">Origin</th>
    <th id="destination">Destination</th>
    <th id="departure_info">Departure Time</th>
    <th id="arrival_info">Arrival Time</th>
    <th id="seats_avail">Seats Available</th>
    <th id="price">Price</th>
    <th id="reservation_column"></th>
  </thead>
  <tbody id="flight_table_tbody">
    <% @flights.each do |f| %>
        <tr id="flight<%=@flights.index(f)%>">
            <td id="<%=@flights.index(f)%>airline"><%=f.airline.name%></td>
            <td id="<%=@flights.index(f)%>origin">
              <% @origins["id"].each do |o| %>
                <% if f.origin_airport == o %>
                  <%= @origins["name"][@origins["id"].index(o)] %>
                <% end %>
              <% end %></td>
            <td id="<%=@flights.index(f)%>destination">
              <% @destinations["id"].each do |d| %>
                <% if f.destination_airport == d %>
                  <%= @destinations["name"][@destinations["id"].index(d)] %>
                <% end %>
              <% end %></td>
            <td id="<%=@flights.index(f)%>departure_info">I'm a fuckup</td>
            <td id="<%=@flights.index(f)%>arrival_info">I'm a fuckup</td>
            <td id="<%=@flights.index(f)%>seats_avail">I'm a fuckup</td>
            <td id="<%=@flights.index(f)%>price">I'm a fuckup</td>
            <td id="<%=@flights.index(f)%>reservation"><button type="button" class="btn btn-primary">Reserve Flight</button></td>
        </tr>
    <% end %>
  </tbody>
</table>